Username,Password,Term,Subject,Mode,CRNs,Webhook,SavedRegistrationTime
YOUR_USERNAME_HERE,YOUR_PASSWORD_HERE,2026 Winter Foothill,PHYS,Watch,"32425,",https://discord.com/api/webhooks/YOUR_WEBHOOK_URL_HERE,
